version: '3.8'

services:
  frontend:
    build: ./frontend
    container_name: exam-app
    ports:
      - "80:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true
    tty: true
